# First print your name in the cell below then save this file. (or something nice about your instructor)

In [5]:
Elhaam Bhuiyan

Thanks again for the help

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [5]:
import pandas as pd 
df = pd.read_csv("listings.csv") 
print(df)

           id                                               name   host_id  \
0        2595                              Skylit Midtown Castle      2845
1        3831  Whole flr w/private bdrm, bath & kitchen(pls r...      4869
2        5121                                    BlissArtsSpace!      7356
3        5136           Spacious Brooklyn Duplex, Patio + Garden      7378
4        5178                   Large Furnished Room Near B'way　      8967
...       ...                                                ...       ...
7397  6807836            Beautiful large double room in Brooklyn   2136825
7398  6808818                 Big Room With Piano & Tin Ceilings  23582893
7399  6809332                Cozy, Warm Home in the West Village    198010
7400  6812061  6 minutes from La Guardia Airpt. Quiet, Clean ...  35660592
7401  6812270                           Bushwick/Bed Stuy Border  21130473

        host_name neighbourhood_group       neighbourhood  latitude  \
0        Jennifer           Manhattan             Midtown  40.75362
1     LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2           Garon            Brooklyn  Bedford-Stuyvesant  40.68688
3         Rebecca            Brooklyn         Sunset Park  40.66120
4        Shunichi           Manhattan      Hell's Kitchen  40.76489
...           ...                 ...                 ...       ...
7397    Guadalupe            Brooklyn            Flatbush  40.63974
7398      Laramie            Brooklyn            Bushwick  40.68972
7399       Shenaz           Manhattan        West Village  40.73728
7400         Luis              Queens             Maspeth  40.73878
7401         Just                 NaN                 NaN       NaN

      longitude        room_type  price  minimum_nights  number_of_reviews  \
0     -73.98377  Entire home/apt  175.0             3.0               48.0
1     -73.95976  Entire home/apt   75.0             1.0              340.0
2     -73.95596     Private room   60.0            29.0               50.0
3     -73.99423  Entire home/apt  175.0            14.0                1.0
4     -73.98493     Private room   65.0             2.0              473.0
...         ...              ...    ...             ...                ...
7397  -73.95560     Private room   84.0             2.0                3.0
7398  -73.91512     Private room   52.0             6.0               92.0
7399  -74.00773  Entire home/apt   95.0             5.0                4.0
7400  -73.89423     Private room   39.0             2.0              105.0
7401        NaN              NaN    NaN             NaN                NaN

     last_review  reviews_per_month  calculated_host_listings_count  \
0     2019-11-04               0.37                             2.0
1     2020-08-01               4.75                             1.0
2     2019-12-02               0.37                             1.0
3     2014-01-02               0.01                             1.0
4     2020-03-15               3.44                             1.0
...          ...                ...                             ...
7397  2018-09-01               0.08                             1.0
7398  2020-07-08               1.48                             1.0
7399  2016-02-21               0.07                             1.0
7400  2020-03-06               1.67                             1.0
7401         NaN                NaN                             NaN

      availability_365
0                365.0
1                265.0
2                365.0
3                295.0
4                340.0
...                ...
7397             180.0
7398              74.0
7399               0.0
7400             360.0
7401               NaN

[7402 rows x 16 columns]

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [21]:
import pandas as pd 
df = pd.read_csv("listings.csv")
print(df[df['price'] < 100].shape[0])

2979

In [16]:
import pandas as pd

df = pd.read_csv("listings.csv")
print(df[df['neighbourhood_group'] == "Brooklyn"].shape[0])

3240

In [20]:
import pandas as pd

df = pd.read_csv("listings.csv")
print(df[(df['neighbourhood_group'] == "Brooklyn") & (df['price'] < 100)].shape[0])

1483

In [24]:
import pandas as pd

df = pd.read_csv("listings.csv")

names = ['Michael', 'David', 'John', 'Daniel']
new_df = df[df['host_name'].isin(names)]
print(new_df.shape[0])

203

In [29]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
import pandas as pd

df = pd.read_csv("listings.csv")
df['adjusted_price'] = df['price']
df.loc[df['neighbourhood'] == 'Williamsburg', 'adjusted_price'] += 100
print(df.head())

     id                                               name  host_id  \
0  2595                              Skylit Midtown Castle     2845
1  3831  Whole flr w/private bdrm, bath & kitchen(pls r...     4869
2  5121                                    BlissArtsSpace!     7356
3  5136           Spacious Brooklyn Duplex, Patio + Garden     7378
4  5178                   Large Furnished Room Near B'way　     8967

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0     Jennifer           Manhattan             Midtown  40.75362  -73.98377
1  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
2        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
3      Rebecca            Brooklyn         Sunset Park  40.66120  -73.99423
4     Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493

         room_type  price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt  175.0             3.0               48.0  2019-11-04
1  Entire home/apt   75.0             1.0              340.0  2020-08-01
2     Private room   60.0            29.0               50.0  2019-12-02
3  Entire home/apt  175.0            14.0                1.0  2014-01-02
4     Private room   65.0             2.0              473.0  2020-03-15

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.37                             2.0             365.0
1               4.75                             1.0             265.0
2               0.37                             1.0             365.0
3               0.01                             1.0             295.0
4               3.44                             1.0             340.0

   adjusted_price
0           175.0
1            75.0
2            60.0
3           175.0
4            65.0

In [46]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

import pandas as pd

df = pd.read_csv("listings.csv")

private = len(df[df['room_type'] == 'Private room'])
shared = len(df[df['room_type'] == 'Shared room'])

print(private / len(df) * 100)
print(shared / len(df) * 100)

38.259929748716566
1.337476357741151

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [40]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

import pandas as pd

df = pd.read_csv("listings.csv")
group = df.groupby('neighbourhood_group').size()
print(group)

neighbourhood_group
Bronx             105
Brooklyn         3240
Manhattan        3436
Queens            575
Staten Island      45
dtype: int64

In [42]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

import pandas as pd

df = pd.read_csv("listings.csv")
group = df.groupby('neighbourhood_group')['price'].mean()
print(group)

neighbourhood_group
Bronx             91.847619
Brooklyn         139.644753
Manhattan        195.916473
Queens           103.796522
Staten Island    120.600000
Name: price, dtype: float64

In [44]:
# 2.5. Using `groupby`, find the mean price for each room_type. 

import pandas as pd

df = pd.read_csv("listings.csv")
group = df.groupby('room_type')['price'].mean()
print(group)

room_type
Entire home/apt    207.109841
Hotel room         218.333333
Private room        93.179025
Shared room        107.141414
Name: price, dtype: float64

In [48]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

import pandas as pd

df = pd.read_csv("listings.csv")
group = df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])
print(group)

                      min     max
neighbourhood_group
Bronx                29.0   914.0
Brooklyn             18.0  8000.0
Manhattan            16.0  9999.0
Queens               23.0  1900.0
Staten Island        36.0   700.0

In [50]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

import pandas as pd

df = pd.read_csv("listings.csv")
group = df.groupby(['neighbourhood_group', 'room_type'])['price'].mean()
print(group)

neighbourhood_group  room_type
Bronx                Entire home/apt    142.210526
                     Private room        63.692308
                     Shared room         50.000000
Brooklyn             Entire home/apt    180.068730
                     Hotel room         181.833333
                     Private room        81.749808
                     Shared room         67.379310
Manhattan            Entire home/apt    238.282290
                     Hotel room         291.333333
                     Private room       115.369449
                     Shared room        102.574074
Queens               Entire home/apt    141.839506
                     Private room        69.855799
                     Shared room        225.538462
Staten Island        Entire home/apt    189.761905
                     Private room        59.130435
                     Shared room         82.000000
Name: price, dtype: float64

In [51]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

import pandas as pd

df = pd.read_csv("listings.csv")
group = df.groupby(['neighbourhood_group', 'room_type'])['price'].agg(['count', 'min', 'max', 'mean', 'median', 'std'])

print(group)

                                     count   min     max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt     38  48.0   914.0  142.210526   112.0
                    Private room        65  29.0   680.0   63.692308    49.0
                    Shared room          2  45.0    55.0   50.000000    50.0
Brooklyn            Entire home/apt   1906  38.0  8000.0  180.068730   140.0
                    Hotel room           6  99.0   349.0  181.833333   179.0
                    Private room      1299  18.0   900.0   81.749808    70.0
                    Shared room         29  25.0   229.0   67.379310    55.0
Manhattan           Entire home/apt   2253  16.0  9999.0  238.282290   171.0
                    Hotel room           3  50.0   629.0  291.333333   195.0
                    Private room      1126  20.0  9990.0  115.369449    89.0
                    Shared room         54  25.0  1000.0  102.574074    77.5
Queens              Entire home/apt    243  32.0  1750.0  141.839506   115.0
                    Private room       319  23.0  1000.0   69.855799    60.0
                    Shared room         13  29.0  1900.0  225.538462    65.0
Staten Island       Entire home/apt     21  61.0   700.0  189.761905   139.0
                    Private room        23  36.0   110.0   59.130435    55.0
                    Shared room          1  82.0    82.0   82.000000    82.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  138.637415
                    Private room      79.714319
                    Shared room        7.071068
Brooklyn            Entire home/apt  285.298782
                    Hotel room        90.089770
                    Private room      62.505702
                    Shared room       44.849282
Manhattan           Entire home/apt  356.790042
                    Hotel room       301.281153
                    Private room     309.646850
                    Shared room      134.596196
Queens              Entire home/apt  130.414291
                    Private room      60.181679
                    Shared room      509.342814
Staten Island       Entire home/apt  182.327975
                    Private room      21.435536
                    Shared room             NaN

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [6]:
import pandas as pd

df1 = pd.read_csv("prices.csv")
df2 = pd.read_csv("n_listings.csv")

print(df1.columns)
print(df2.columns)

Index(['neighbourhood_group', ' mean_price'], dtype='object')
Index(['neighbourhood_group;n_listings'], dtype='object')

In [8]:
# 2. Do join that keeps all the records for each table.

import pandas as pd

df1 = pd.read_csv("prices.csv")
df2 = pd.read_csv("n_listings.csv")
df2[['neighbourhood_group', 'n_listings']] = df2['neighbourhood_group;n_listings'].str.split(';', expand=True)

df2.drop(columns = ['neighbourhood_group;n_listings'], inplace = True)

merge = pd.merge(df1, df2, on = 'neighbourhood_group', how='outer')
print(merge)

  neighbourhood_group   mean_price n_listings
0               Bronx    92.751479       1183
1            Brooklyn   120.225258      18632
2          LongIsland          NaN       4121
3           Manhattan   191.880466      20580
4              Queens    99.754965        NaN
5       Staten Island   110.947214        NaN

In [9]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
import pandas as pd

df1 = pd.read_csv("prices.csv")
df2 = pd.read_csv("n_listings.csv")
df2[['neighbourhood_group', 'n_listings']] = df2['neighbourhood_group;n_listings'].str.split(';', expand=True)

df2.drop(columns = ['neighbourhood_group;n_listings'], inplace = True)

merge = pd.merge(df1, df2, on = 'neighbourhood_group', how='outer')

merge.to_csv('joined.csv', index = False)

In [ ]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

df = pd.read_csv('

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.