# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [12]:
# Import here.
import numpy as np
import pandas as pd

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [13]:
# Load the Food choices data set into a variable (e.g., df_food).

df_food = pd.read_csv('food_coded.csv')

### Explore the Data

How much data did you just load?

In [14]:
# Count by hand. (lol kidding)
print(df_food.shape[0])

125

What are the columns and their types in this data set?

In [5]:
# Show the column names and their types.

print(df_food.columns)

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [15]:
# Remove ‚Äòem.
df = df_food[['calories_day','Gender','weight']]
print(df)

     calories_day  Gender                    weight
0             NaN       2                       187
1             3.0       1                       155
2             4.0       1  I'm not answering this.
3             3.0       1             Not sure, 240
4             2.0       1                       190
..            ...     ...                       ...
120           4.0       1                       156
121           2.0       1                       180
122           NaN       1                       120
123           4.0       2                       135
124           NaN       1                       135

[125 rows x 3 columns]

What about `NaN`s? How many are there?

In [16]:
# Count ‚Äòem.
print(df.isna().sum())

calories_day    19
Gender           0
weight           2
dtype: int64

We gotta remove those `NaN`s‚Äïthe entire row.

In [17]:
# Drop ‚Äòem.

df = df.dropna()
print(df.isna().sum())

calories_day    0
Gender          0
weight          0
dtype: int64

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [20]:
# Fix that.

df = df.apply(pd.to_numeric, errors = 'coerce')
print(df)
df = df.dropna()
print(df)

     calories_day  Gender  weight
1             3.0       1   155.0
4             2.0       1   190.0
5             3.0       1   190.0
6             3.0       2   180.0
7             3.0       1   137.0
..            ...     ...     ...
118           3.0       1   140.0
119           3.0       2   185.0
120           4.0       1   156.0
121           2.0       1   180.0
123           4.0       2   135.0

[101 rows x 3 columns]
     calories_day  Gender  weight
1             3.0       1   155.0
4             2.0       1   190.0
5             3.0       1   190.0
6             3.0       2   180.0
7             3.0       1   137.0
..            ...     ...     ...
118           3.0       1   140.0
119           3.0       2   185.0
120           4.0       1   156.0
121           2.0       1   180.0
123           4.0       2   135.0

[101 rows x 3 columns]

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [21]:
# Savey save!

df.to_csv('food_coded_cleaned.csv', index = False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [22]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).

df = pd.read_csv('Ask A Manager Salary Survey 2021 (Responses).tsv', delimiter = '\t')
print(df)

                Timestamp How old are you?  \
0      4/27/2021 11:02:10            25-34
1      4/27/2021 11:02:22            25-34
2      4/27/2021 11:02:38            25-34
3      4/27/2021 11:02:41            25-34
4      4/27/2021 11:02:42            25-34
...                   ...              ...
28065   9/3/2024 18:30:24            45-54
28066   9/7/2024 22:02:37            18-24
28067   9/8/2024 20:53:07            35-44
28068   9/9/2024 18:43:02            18-24
28069  9/10/2024 23:58:45            35-44

              What industry do you work in?  \
0              Education (Higher Education)
1                         Computing or Tech
2             Accounting, Banking & Finance
3                                Nonprofits
4             Accounting, Banking & Finance
...                                     ...
28065                             Insurance
28066  Government and Public Administration
28067                     Computing or Tech
28068         Accounting, Banking & Finance
28069                     Computing or Tech

                                      Job title  \
0            Research and Instruction Librarian
1      Change & Internal Communications Manager
2                          Marketing Specialist
3                               Program Manager
4                            Accounting Manager
...                                         ...
28065                                   Manager
28066               Acquisition program manager
28067                       IT Helpdesk Manager
28068                          Audit Associate
28069                  Business Systems Analyst

      If your job title needs additional context, please clarify here:  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
28065                                             Claims
28066                                                NaN
28067                                                NaN
28068                                                NaN
28069                                                NaN

      What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  \
0                                                 55,000
1                                                 54,600
2                                                 34,000
3                                                 62,000
4                                                 60,000
...                                                  ...
28065                                             125000
28066                                              60000
28067                                              80000
28068                                              75000
28069                                              90000

       How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.  \
0                                                    0.0
1                                                 4000.0
2                                                    NaN
3                                                 3000.0
4                                                 7000.0
...                                                  ...
28065                                            15000.0
28066                                             1000.0
28067                                             3000.0
28068                                                NaN
28069                                             9000.0

      Please indicate the currency  \
0                              USD
1                              GBP
2                              USD
3                              USD
4                              USD
...                            ...
28065                          USD
28066                          USD
28067                          USD
28068                          USD
28069                          USD

      If "Other," please indicate the currency here:   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
...                                               ...
28065                                             NaN
28066                                             NaN
28067                                             NaN
28068                                             NaN
28069                                             NaN

      If your income needs additional context, please provide it here:  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
28065                                                NaN
28066                                                NaN
28067                                                NaN
28068                                                NaN
28069              10% of the salary if te goals are met

      What country do you work in?  \
0                    United States
1                   United Kingdom
2                               US
3                              USA
4                               US
...                            ...
28065                          USA
28066               United States
28067     United States of America
28068                         U.S.
28069                          USA

      If you're in the U.S., what state do you work in?  \
0                                         Massachusetts
1                                                   NaN
2                                             Tennessee
3                                             Wisconsin
4                                        South Carolina
...                                                 ...
28065                                           Georgia
28066                                           Georgia
28067                                           Georgia
28068                                           Georgia
28069                                            Nevada

      What city do you work in?  \
0                        Boston
1                     Cambridge
2                   Chattanooga
3                     Milwaukee
4                    Greenville
...                         ...
28065                     Macon
28066             Warner Robins
28067                  Savannah
28068                   Atlanta
28069                 Las Vegas

      How many years of professional work experience do you have overall?  \
0                                              5-7 years
1                                           8 - 10 years
2                                            2 - 4 years
3                                           8 - 10 years
4                                           8 - 10 years
...                                                  ...
28065                                      31 - 40 years
28066                                        2 - 4 years
28067                                      11 - 20 years
28068                                     1 year or less
28069                                       8 - 10 years

      How many years of professional work experience do you have in your field?  \
0                                              5-7 years
1                                              5-7 years
2                                            2 - 4 years
3                                              5-7 years
4                                              5-7 years
...                                                  ...
28065                                      31 - 40 years
28066                                        2 - 4 years
28067                                      11 - 20 years
28068                                     1 year or less
28069                                        2 - 4 years

      What is your highest level of education completed? What is your gender?  \
0                                        Master's degree                Woman
1                                         College degree           Non-binary
2                                         College degree                Woman
3                                         College degree                Woman
4                                         College degree                Woman
...                                                  ...                  ...
28065                                     College degree                Woman
28066                                     College degree                  Man
28067                                     College degree                  Man
28068                                     College degree                Woman
28069                                    Master's degree                Woman

      What is your race? (Choose all that apply.)
0                                           White
1                                           White
2                                           White
3                                           White
4                                           White
...                                           ...
28065                                       White
28066                                       White
28067                   Black or African American
28068                                       White
28069                     Asian or Asian American

[28070 rows x 18 columns]

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [23]:
# Count by hand. I‚Äôm dead serious. (Me: No)

print(df.shape[0])

28070

What are the columns and their types?

In [24]:
# Show the column names and their types.

print(df.columns)

Index(['Timestamp', 'How old are you?', 'What industry do you work in?',
       'Job title',
       'If your job title needs additional context, please clarify here:',
       'What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)',
       'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.',
       'Please indicate the currency',
       'If "Other," please indicate the currency here: ',
       'If your income needs additional context, please provide it here:',
       'What country do you work in?',
       'If you're in the U.S., what state do you work in?',
       'What city do you work in?',
       'How many years of professional work experience do you have overall?',
       'How many years of professional work experience do you have in your field?',
       'What is your highest level of education completed?',
       'What is your gender?', 'What is your race? (Choose all that apply.)'],
      dtype='object')

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [25]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race

df = df.rename(columns = {'Timestamp' : 'timestamp' , 'How old are you?' : 'age' , 'What industry do you work in?' : 'industry' , 'Job title' : 'title' , 'If your job title needs additional context, please clarify here:' : 'title_context' , "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)" : 'salary' , 'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.' : 'additional_compensation' , 'Please indicate the currency' : 'currency' , 'If "Other," please indicate the currency here: ' : 'other_currency' , 'If your income needs additional context, please provide it here:' : 'salary_context' , 'What country do you work in?' : 'country' , "If you're in the U.S., what state do you work in?" : 'state' , 'What city do you work in?' : 'city' , 'How many years of professional work experience do you have overall?' : 'total_yoe' , 'How many years of professional work experience do you have in your field?' : 'field_yoe' , 'What is your highest level of education completed?' : 'highest_education_completed' , 'What is your gender?' : 'gender' , 'What is your race? (Choose all that apply.)' : 'race'})
print(df.columns)

Index(['timestamp', 'age', 'industry', 'title', 'title_context', 'salary',
       'additional_compensation', 'currency', 'other_currency',
       'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe',
       'highest_education_completed', 'gender', 'race'],
      dtype='object')

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [26]:
# List the unique industries and a count of their instances.

print(df['industry'].value_counts())

industry
Computing or Tech                          4702
Education (Higher Education)               2465
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1890
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [27]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

df_salary_tech = df[df['industry'] == 'Computing or Tech']
print(df_salary_tech)

                timestamp    age           industry  \
1      4/27/2021 11:02:22  25-34  Computing or Tech
8      4/27/2021 11:03:01  45-54  Computing or Tech
43     4/27/2021 11:04:04  25-34  Computing or Tech
44     4/27/2021 11:04:04  25-34  Computing or Tech
46     4/27/2021 11:04:07  35-44  Computing or Tech
...                   ...    ...                ...
28058  7/23/2024 17:51:03  25-34  Computing or Tech
28060  7/26/2024 11:20:45  18-24  Computing or Tech
28064   9/3/2024 10:57:08  18-24  Computing or Tech
28067   9/8/2024 20:53:07  35-44  Computing or Tech
28069  9/10/2024 23:58:45  35-44  Computing or Tech

                                          title                 title_context  \
1      Change & Internal Communications Manager                           NaN
8                               Systems Analyst  Data developer/ETL Developer
43                  Principal Software Engineer                           NaN
44                         Intelligence Analyst                           NaN
46                             Mobile developer                           NaN
...                                         ...                           ...
28058                         Systems Architect                           NaN
28060                                        IT                           NaN
28064                        Software Developer                           NaN
28067                       IT Helpdesk Manager                           NaN
28069                  Business Systems Analyst                           NaN

        salary  additional_compensation currency other_currency  \
1       54,600                   4000.0      GBP            NaN
8      112,000                  10000.0      USD            NaN
43     187,500                   5000.0      USD            NaN
44     110,000                  20000.0      USD            NaN
46     144,600                   2500.0      USD            NaN
...        ...                      ...      ...            ...
28058   109000                      NaN      USD            NaN
28060     1700                     10.0      USD            NaN
28064    62000                      0.0      USD            NaN
28067    80000                   3000.0      USD            NaN
28069    90000                   9000.0      USD            NaN

                              salary_context                   country  \
1                                        NaN            United Kingdom
8                                        NaN                        US
43                                       NaN             United States
44             Around 20,000 a year in stock                       USA
46                                       NaN                       USA
...                                      ...                       ...
28058                                    NaN                       USA
28060                                    NaN                     Burma
28064                                    NaN                       USA
28067                                    NaN  United States of America
28069  10% of the salary if te goals are met                       USA

               state           city      total_yoe       field_yoe  \
1                NaN      Cambridge   8 - 10 years       5-7 years
8           Missouri      St. Louis  21 - 30 years   21 - 30 years
43      Pennsylvania     Pittsburgh   8 - 10 years       5-7 years
44          Virginia  Arlington, VA   8 - 10 years    8 - 10 years
46     Massachusetts         Boston      5-7 years       5-7 years
...              ...            ...            ...             ...
28058        Georgia        Atlanta      5-7 years       5-7 years
28060            NaN         Yangon    2 - 4 years  1 year or less
28064        Georgia         Athens    2 - 4 years  1 year or less
28067        Georgia       Savannah  11 - 20 years   11 - 20 years
28069         Nevada      Las Vegas   8 - 10 years     2 - 4 years

      highest_education_completed      gender                       race
1                  College degree  Non-binary                      White
8                  College degree       Woman                      White
43                 College degree       Woman                      White
44                Master's degree         Man                      White
46                            PhD       Woman                      White
...                           ...         ...                        ...
28058              College degree         Man                      White
28060                Some college         Man    Asian or Asian American
28064              College degree         Man                      White
28067              College degree         Man  Black or African American
28069             Master's degree       Woman    Asian or Asian American

[4702 rows x 18 columns]

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [35]:
# Sanity Check 

print(df_salary_tech['industry'])

1        Computing or Tech
8        Computing or Tech
43       Computing or Tech
44       Computing or Tech
46       Computing or Tech
               ...
28058    Computing or Tech
28060    Computing or Tech
28064    Computing or Tech
28067    Computing or Tech
28069    Computing or Tech
Name: industry, Length: 4702, dtype: object

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [28]:
# Filtery filter for just the jobs that pay in USD!

df_USD = df[df['currency'] == 'USD']
print(df_USD)

                timestamp    age                              industry  \
0      4/27/2021 11:02:10  25-34          Education (Higher Education)
2      4/27/2021 11:02:38  25-34         Accounting, Banking & Finance
3      4/27/2021 11:02:41  25-34                            Nonprofits
4      4/27/2021 11:02:42  25-34         Accounting, Banking & Finance
5      4/27/2021 11:02:46  25-34          Education (Higher Education)
...                   ...    ...                                   ...
28065   9/3/2024 18:30:24  45-54                             Insurance
28066   9/7/2024 22:02:37  18-24  Government and Public Administration
28067   9/8/2024 20:53:07  35-44                     Computing or Tech
28068   9/9/2024 18:43:02  18-24         Accounting, Banking & Finance
28069  9/10/2024 23:58:45  35-44                     Computing or Tech

                                    title title_context  salary  \
0      Research and Instruction Librarian           NaN  55,000
2                    Marketing Specialist           NaN  34,000
3                         Program Manager           NaN  62,000
4                      Accounting Manager           NaN  60,000
5          Scholarly Publishing Librarian           NaN  62,000
...                                   ...           ...     ...
28065                             Manager        Claims  125000
28066         Acquisition program manager           NaN   60000
28067                 IT Helpdesk Manager           NaN   80000
28068                    Audit Associate            NaN   75000
28069            Business Systems Analyst           NaN   90000

       additional_compensation currency other_currency  \
0                          0.0      USD            NaN
2                          NaN      USD            NaN
3                       3000.0      USD            NaN
4                       7000.0      USD            NaN
5                          NaN      USD            NaN
...                        ...      ...            ...
28065                  15000.0      USD            NaN
28066                   1000.0      USD            NaN
28067                   3000.0      USD            NaN
28068                      NaN      USD            NaN
28069                   9000.0      USD            NaN

                              salary_context                   country  \
0                                        NaN             United States
2                                        NaN                        US
3                                        NaN                       USA
4                                        NaN                        US
5                                        NaN                       USA
...                                      ...                       ...
28065                                    NaN                       USA
28066                                    NaN            United States
28067                                    NaN  United States of America
28068                                    NaN                      U.S.
28069  10% of the salary if te goals are met                       USA

                state           city       total_yoe       field_yoe  \
0       Massachusetts         Boston       5-7 years       5-7 years
2           Tennessee    Chattanooga     2 - 4 years     2 - 4 years
3           Wisconsin      Milwaukee    8 - 10 years       5-7 years
4      South Carolina     Greenville    8 - 10 years       5-7 years
5       New Hampshire        Hanover    8 - 10 years     2 - 4 years
...               ...            ...             ...             ...
28065         Georgia          Macon   31 - 40 years   31 - 40 years
28066         Georgia  Warner Robins     2 - 4 years     2 - 4 years
28067         Georgia       Savannah   11 - 20 years   11 - 20 years
28068         Georgia        Atlanta  1 year or less  1 year or less
28069          Nevada      Las Vegas    8 - 10 years     2 - 4 years

      highest_education_completed gender                       race
0                 Master's degree  Woman                      White
2                  College degree  Woman                      White
3                  College degree  Woman                      White
4                  College degree  Woman                      White
5                 Master's degree    Man                      White
...                           ...    ...                        ...
28065              College degree  Woman                      White
28066              College degree    Man                      White
28067              College degree    Man  Black or African American
28068              College degree  Woman                      White
28069             Master's degree  Woman    Asian or Asian American

[23382 rows x 18 columns]

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [40]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

print(df_USD['country'].value_counts(ascending = True))

country
For the United States government, but posted overseas         1
Untied States                                                 1
USA (company is based in a US territory, I work remote)       1
USAB                                                          1
Unitied States                                                1
                                                           ...
U.S.                                                        581
United States                                               668
US                                                         2606
USA                                                        7926
United States                                              8990
Name: count, Length: 229, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [41]:
# Replace them all with 'US'.

first_5 = df['industry'].value_counts().nlargest(5).index
df['industry'] = df['industry'].replace(first_5, 'US')

Have a look at the count of each unique country again now.

In [29]:
# Count again.

print(df['industry'].value_counts(ascending = True))

industry
cultural (museums/galleries)               1
Diagnostic Medical Devices                 1
Library at a University                    1
Energy/oil                                 1
Video Game Industry                        1
                                        ...
Government and Public Administration    1890
Health care                             1896
Nonprofits                              2419
Education (Higher Education)            2465
Computing or Tech                       4702
Name: count, Length: 1219, dtype: int64

Did you notice anything interesting?

In [30]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

list = df['industry'].unique().tolist()
print(len(list))

1220

In [ ]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [32]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

df['salary'] = pd.to_numeric(df['salary'], errors = 'coerce')
df.dropna()
print(df['salary'].min() , df['salary'].mean() , df['salary'].max())

0.0 899670.7944129764 6000070000.0

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [ ]:
# Fix it.

#fixed above

Let‚Äôs try that again.

In [ ]:
# Try it again. Yeah!

#fixed above

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [ ]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)